<!DOCTYPE html>
<html lang="en">

<head>
  <script src="assets/js/jquery/jquery.min.js"></script>
  <script src="assets/js/checkuser.js"></script>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="assets/css/style.css" />
  <link rel="stylesheet" href="assets/css/toast.css" />
  <link rel="stylesheet" href="assets/css/modal.css" />
  <link rel="icon" type="image/png" href="assets/icons/icon.png" sizes="96x96">
  <link href="assets/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <!-- <script src="assets/js/jquery.jquery/jquery.dataTables.min.js"></script>
    <script src="assets/js/dataTables.bootstrap/bootstrap.min.js"></script> -->
</head>

<body id="body-pd">
  <header class="header" id="header">
    <div>
      <h3>Tasks</h3>
    </div>
    <div class="profile_img">
      <!-- <img src='assets/icons/profile.png' style='width: 50px;height: 50px;vertical-align: middle' /> -->
      A
    </div>
  </header>
  <div class="l-navbar" id="nav-bar">
    <nav class="nav">
      <div>
        <a href="#" class="nav_logo">
          <i class='bx bx-menu nav_logo-icon' id="header-toggle"></i>
          <span class="nav_logo-name">
            <img width="37px" src="assets/icons/icon.png" alt="project_management">
          </span>
        </a>
        <div class="nav_list"> <a href="#" class="nav_link">
            <i class='bx bx-grid-alt nav_icon'></i>
            <span class="nav_name">Dashboard</span>
          </a>
          <a href="admin" class="nav_link">
            <i class='bx bx-user nav_icon'></i>
            <span class="nav_name">Users</span> </a>
          <a href="admin_projects" class="nav_link">
            <i class='fa-solid fa-diagram-project nav_icon'></i>
            <span class="nav_name">Projects</span>
          </a>
          <a href="admin_tasks" class="nav_link active">
            <i class='bx bx-task nav_icon'></i>
            <span class="nav_name">Tasks</span>
          </a>
        </div>
      </div>
      <a href="#" onclick="return logout()" class="nav_link">
        <i class='bx bx-log-out nav_icon'></i>
        <span class="nav_name">SignOut</span>
      </a>
    </nav>
  </div>

  <div class="container mt-2">
    <h3>Tasks</h3>
  </div>
  <div class="clearfix"></div>
  <br />
  <div class="row">
    <div class="mt-0 mb-3">
      <button class="btn btn-primary" id="createBtn" data-toggle="modal" data-target="#formModal">
        <i class="fa fa-add"></i> Create Task
      </button>
    </div>
    <div class="col-md-12 animated" id="tableSize">
      <table id="tasksTable" class="table table-bordered" style="border: right 0 !important;" cellspacing="0"
        width="100%">
        <thead>
          <th>t_id</th>
          <th></th>
          <th>Task Title</th>
          <th>Project</th>
          <th>Creator</th>
          <th>Assigned</th>
          <th>Priority</th>
          <th>Start Date</th>
        </thead>

        <tbody>
        </tbody>

      </table>
    </div>
    <div class="col-md-6 animated" hidden id="rowEditForm" style="border: 1px solid #dee2e6">
      <p class="mt-1" style="font-weight: bold; font-size:20px">Edit task </p>
      <form>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="etitle" placeholder="name@example.com">
          <label for="floatingInput">Title</label>
        </div>
        <div class="form-check mb-3">
          <input class="form-check-input" type="checkbox" value="1" id="ecompleted" checked>
          <label class="form-check-label" for="ecompleted">
            Mark as complete
          </label>
        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <div class="form-floating">
              <select class="form-select" id="eassignee" aria-label="Select assignee">

              </select>
              <label for="floatingSelectGrid">Assigned Name</label>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="form-floating">
              <select class="form-select" id="epriority" aria-label="Select priority">
                <option value="low">Low</option>
                <option value="medium">Medium</option>
                <option value="high">High</option>
                <option value="urgent">Urgent</option>
              </select>
              <label for="epriority">Priority</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <div class="form-floating input-group date">
              <input class="form-control" type="date" id="estartDate">
              <label for="estartDate">Start date</label>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="form-floating input-group date">
              <input class="form-control" type="date" id="dueDate">
              <label for="dueDate">Due date</label>
            </div>
          </div>

        </div>

        <div class="form-floating mb-3">
          <textarea class="form-control" placeholder="Description of task" id="edescription"
            style="height: 100px"></textarea>
          <label for="description">Description</label>
        </div>

        <!-- <div class="form-floating mb-3">
          <div class="mb-3">
            <label for="eproject" class="form-label">Project</label>
            <input type="text" id="eproject" class="form-control" placeholder="">
          </div>
        </div> -->

        <div class="mt-3 mb-3">
          <button type="button" id="eBtn" class="btn btn-success">Save</button>
          <button type="button" id="deleteBtn" class="btn btn-danger">Delete</button>
          <button type="button" onclick="resetTableEdit()" class="btn btn-primary">Close</button>
        </div>
    </div>
    </form>
  </div>

  </div>

  <!-- Modal -->
  <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="formModalLabel">Create Task</h5>
          <button type="button" class="btn-close" data-bs-dismiss="formModal" aria-label="Close"></button>
        </div>
        <form name="add-task" id="add-task">
          <div class="modal-body">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="title" placeholder="Enter task title">
              <label for="title">Title</label>
            </div>
            <div class="form-floating mb-3">
              <textarea class="form-control" placeholder="Description of task" id="description"
                style="height: 100px"></textarea>
              <label for="description">Description</label>
            </div>
            <div class="row" style="justify-content:space-around; display:flex">
              <div class="mb-3 col-md-6">
                <label for="startDate">Start</label>
                <input id="startDate" class="form-control" min="2022-06-10" max="2024-12-31" type="date" required />
              </div>
              <div class="mb-3 col-md-6">
                <label for="endDate">End</label>
                <input id="endDate" class="form-control" min="2022-06-10" max="2024-12-31" type="date" required />
              </div>
            </div>
            <div class="mb-3">
              <label for="project">Project</label>
              <br />
              <select class="form-control" id="project" name="project" aria-label=".form-select-lg example">
                <!-- Filled by JS -->
              </select>
            </div>
            <div class="row" style="justify-content:space-around; display:flex">
              <div class="mb-3 col-md-6">
                <label for="priority">Assignee</label>
                <br />
                <select class="form-control form-two" id="assignee" name="assignee"
                  aria-label=".form-select-lg example">
                  <!-- Filled by JS -->
                </select>
              </div>
              <div class="mb-3 col-md-6">
                <label for="priority">Priority</label>
                <br />
                <select class="form-control form-two" id="priority" name="priority"
                  aria-label=".form-select-lg example">
                  <option value="low">Low</option>
                  <option value="medium" selected>Medium</option>
                  <option value="high">High</option>
                  <option value="urgent">Urgent</option>
                </select>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              Close
            </button>
            <input type="submit" id="submit" class="btn btn-primary" value="Submit" />
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Modal end -->
  <!-- Confirm Modal -->
  <div id="deleteModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
      <div class="modal-content">
        <div class="modal-header flex-column">
          <div class="icon-box">
            <i class="fas fa-times-circle"></i>
          </div>
          <h4 class="modal-title w-100">Are you sure?</h4>
        </div>
        <form id="delete-task" name="delete-task">

          <div class="modal-body">
            <p>Do you really want to delete these records? This process cannot be undone.</p>
          </div>

          <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-danger">Delete</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script src="assets/js/toast.js"></script>
  <script src="assets/js/jquery/jquery.min.js"></script>
  <script src="assets/js/bootstrap/bootstrap.min.js"></script>
  <script src="assets/js/api_utility.js"></script>
  <script src="assets/js/tasks.js"></script>
  <script src="assets/js/jquery/jquery.dataTables.min.js"></script>
  <script src="assets/js/jquery/dataTables.bootstrap5.min.js"></script>
</body>

</html>