<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <script>
        var LS = localStorage.getItem('name');
        if (LS == "True") {
            window.location.assign("admin")
        } else{
            alert("Error")
            window.location.replace("login");
        }
    </script>
</head>
<body>
    Hello Admin 👋
</body>
</html>