<!DOCTYPE html>
<html lang="en">

<head>
    <script src="assets/js/jquery/jquery.min.js"></script>
    <script src="assets/js/checkuser.js"></script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="assets/css/toast.css" />
    <link rel="stylesheet" href="assets/css/modal.css" />
    <link rel="icon" type="image/png" href="assets/icons/icon.png" sizes="96x96">
    <link href="assets/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- <script src="assets/js/jquery.jquery/jquery.dataTables.min.js"></script>
    <script src="assets/js/dataTables.bootstrap/bootstrap.min.js"></script> -->
</head>

<body id="body-pd">
    <header class="header" id="header">
        <div>
            <h3>Projects</h3>
        </div>
        <div class="profile_img">
            <!-- <img src='assets/icons/profile.png' style='width: 50px;height: 50px;vertical-align: middle' /> -->
            A
        </div>
    </header>
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div>
                <a href="#" class="nav_logo">
                    <i class='bx bx-menu nav_logo-icon' id="header-toggle"></i>
                    <span class="nav_logo-name">
                        <img width="37px" src="assets/icons/icon.png" alt="project_management">
                    </span>
                </a>
                <div class="nav_list"> <a href="#" class="nav_link">
                        <i class='bx bx-grid-alt nav_icon'></i>
                        <span class="nav_name">Dashboard</span>
                    </a>
                    <a href="admin" class="nav_link">
                        <i class='bx bx-user nav_icon'></i>
                        <span class="nav_name">Users</span> </a>
                    <a href="admin_projects" class="nav_link active">
                        <i class='fa-solid fa-diagram-project nav_icon'></i>
                        <span class="nav_name">Projects</span>
                    </a>
                    <a href="admin_tasks" class="nav_link">
                        <i class='bx bx-task nav_icon'></i>
                        <span class="nav_name">Tasks</span>
                    </a>
                </div>
            </div>
            <a href="#" onclick="logout()" class="nav_link">
                <i class='bx bx-log-out nav_icon'></i>
                <span class="nav_name">SignOut</span>
            </a>
        </nav>
    </div>

    <div class="container mt-2">
        <h3>Projects</h3>
    </div>
    <div class="clearfix"></div>
    <br />
    <div class="row">

    </div>
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.js"></script> -->
    <script src="assets/js/jquery/jquery.min.js"></script>
    <script src="assets/js/bootstrap/bootstrap.min.js"></script>
    <script src="assets/js/toast.js"></script>
    <script src="assets/js/api_utility.js"></script>
    <script src="assets/js/projects.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script> -->
    <script src="assets/js/jquery/jquery.dataTables.min.js"></script>
    <script src="assets/js/jquery/dataTables.bootstrap5.min.js"></script>
</body>

</html>