<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/cookies.js"></script>
    <script src="assets/js/checkuser.js"></script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <!-- bootstrap5 dataTables css cdn -->
    <link rel="stylesheet" href="assets/css/dataTables.bootstrap5.min.css" />
    <!-- <link rel="stylesheet" href="assets/css/style.css" /> -->
  </head>

  <body>
    <!-- example 5 left and center only with empty space right -->
    <nav
      class="navbar navbar-expand-sm navbar-dark bg-primary flex-sm-nowrap flex-wrap"
    >
      <div class="container-fluid">
        <button
          class="navbar-toggler flex-grow-sm-1 flex-grow-0 me-2"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbar5"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <span class="navbar-brand flex-grow-1">Admin</span>
        <div
          class="navbar-collapse collapse flex-grow-1 justify-content-center"
          id="navbar5"
        >
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="nav-link" href="#users">Users</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#projects">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#tasks">Tasks</a>
            </li>
          </ul>
          <div class="flex-grow-1"></div>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <button class="navBtn" onclick="logout()">Logout</button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container mt-4" id="users">
      <h3>Users</h3>
      <br />
      <table id="datatable" class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Joined</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Jhon doe</td>
            <td>Jhondoe@gmail.com</td>
            <td>10/10/22</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- bootstrap5 dataTables js cdn -->
    <script src="assets/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="assets/js/jquery.dataTables.min.js"></script>
    <script>
      $(document).ready(function () {
        $("#datatable").DataTable();
      });
    </script>
  </body>
</html>
