
/* NAV BAR */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&;600&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 12px;
  background-color: #1982fa;
}

nav {
	padding-top: 10px;
}
.logo{
  font-size: 1.6rem;
  cursor: pointer;
}

ul{
  display: flex;
  list-style: none;
}

ul li a{
  padding: 0px 1.2rem;
  font-size: 1.4rem;
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

ul li a:hover{
  color: #fad519;
}

.navBtn{
  padding: 0.4rem 1.4rem;
  border: none;
  border-radius: 5rem;
  background-color: #fa1942;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.navBtn:hover{
  background-color: #f50c37;
}